.active {
  color: tomato !important;
}

.dropdown-menu li {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.dropdown .dropdown-toggle img {
  vertical-align: middle;
}
