.table td {
  vertical-align: middle;
}

.leaflet-container {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.driver-marker {
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
}
